# The URL of your site, used by Faust for sitemap generation, however you can name this whatever you want.
NEXT_PUBLIC_WORDPRESS_URL=https://pactlatrobedev.wpenginepowered.com

# Plugin secret found in WordPress Settings->Headless
FAUST_SECRET_KEY=4db8e045-2766-486f-943b-10239c974a01

# MySQL connection for patient API
MYSQL_HOST=wp-pactlatrobedev.wpenginepowered.com
MYSQL_PORT=13306
MYSQL_USER=wp_pactlatrobedev
MYSQL_PASSWORD=
MYSQL_DATABASE=wp_pactlatrobedev
MYSQL_SSL=true
MYSQL_SSL_REJECT_UNAUTHORIZED=false
# MYSQL_SSL_CA="-----BEGIN CERTIFICATE-----\\n..."
# MYSQL_SSL_CERT="-----BEGIN CERTIFICATE-----\\n..."
# MYSQL_SSL_KEY="-----BEGIN PRIVATE KEY-----\\n..."
